body{
    margin: 0px;
}
#navBar{
    display: flex;
    justify-content: space-around;
    
}
.heroSection{
   
    background-color:  #1f2937;
    padding-bottom: 200px;
}

#headerLinks{
    
    margin-top: 25px;
    font-size: 18px;
    color: #E5E7EB;
}
#headerLogo{
    font-size: 24px;
    color: #F9FAF8;
}
#hlink{
    margin-left: 10px;
    margin-right: 10px;
}
#hero{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-left: 300px;
    margin-right: 300px;
}#placeHolder{
    margin-top: 50px;
    width: 600px;
    height: 250px;
}
#heroTitle{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}#underTitle{
    font-size: 18px;
    color: #E5E7EB;
}#heroLeft{
    padding-right: 130px;
}
#signUp{
    background-color:  #3882f6;
    color: white;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    border-color: transparent;
}
.body{
    padding-top: 30px;
    padding-left: 420px;
    padding-right: 420px;
}
#images{
    display: flex;
    justify-content: space-around;
 
}
#imgs{
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 15px;

}
#info{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    padding-bottom:  30px;
}

